spring:
  datasource:
    url: jdbc:postgresql://dpg-d4a7s1muk2gs73feeerg-a.frankfurt-postgres.render.com/booknest_db_6jhl
    username: booknest_user
    password: ThZTf1PkyRjU27NMa1YkQPw7cI8xlOAh
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    com.booknest: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  port: ${PORT:5432}
